name: Build
on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.2.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: yarn
    - run: yarn install
    - run: yarn run lint
    - run: yarn run build
    - run: yarn test
      env:
        CI: true
    - run: npx codecov
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    - uses: carlesnunez/check-my-bundlephobia@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        strict: true
        threshold: 300000
        ignore-dev-dependencies: true