name: Release
on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [lts/-2, lts/-1, lts/*, current]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - run: node --version

      - run: yarn install

      - run: yarn test

      - run: yarn run build

      - name: Bundlewatch
        run: yarn run bundlewatch
        env:
          BUNDLEWATCH_GITHUB_TOKEN: '${{ secrets.BJERKBOT_GITHUB_TOKEN }}'
          CI_BRANCH_BASE: main

  release:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v3

      - name: Use current LTS Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
          cache: yarn

      - run: yarn install

      - run: yarn run build

      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.BJERKBOT_GITHUB_TOKEN }}
          release-type: node
          package-name: oidc-react
          bootstrap-sha: 07ac025

      - if: ${{ steps.release.outputs.release_created }}
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: yarn

      - run: yarn install

      - name: Run typegen
        run: yarn run generate-docs

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          branch: update-documentation
          delete-branch: true
          commit-message: 'chore(docs): run typegen'
          title: 'chore(docs): run typegen'
          body: 'This is automatically created since the documentation is out of date.'
